<toolbar [data]="toolbar"></toolbar>

<div class="container-fluid main-content">
	<pane-set>
		<pane title="Filter & search" bgColor="#FBFBFB">
			<ng-template pane-content>
				<search-filter></search-filter>
			</ng-template>
		</pane>
		<ng-template details>
			<div class="sub-tabs">
				<ngb-tabset activeId="activity-list" [destroyOnHide]="false">
					<ngb-tab title="Main" id="activity-list">
						<ng-template ngbTabContent>
							<pane-set>
								<pane title="Activities" bgColor="#F6E8EB">
									<ng-template pane-content>
										<div class="group-by mt-2">
											Group by:
											<div ngbDropdown class="d-inline-block">
												<button class="btn" ngbDropdownToggle>None</button>
												<div ngbDropdownMenu>
													<button class="dropdown-item">Personel</button>
													<button class="dropdown-item">Status</button>
												</div>
											</div>
										</div>
										<div class="sort-by">
											Sort by:
											<div ngbDropdown class="d-inline-block">
												<button class="btn" ngbDropdownToggle>None</button>
												<div ngbDropdownMenu>
													<button class="dropdown-item">Name</button>
													<button class="dropdown-item">Date</button>
												</div>
											</div>
											<button class="sort-btn" [class.desc]="!sortActivityInc" (click)="toggleSortOrder('sortActivityInc')"></button>
											<div ngbDropdown placement="bottom-right" class="float-right check-dropdown">
												<button class="btn" ngbDropdownToggle>
													<span *ngIf="!checkedItems.length">
														{{ activityList.length }} item(s)
													</span>
													<span *ngIf="checkedItems.length">
														{{ checkedItems.length }} of {{ activityList.length }} selected
													</span>
												</button>
												<div ngbDropdownMenu>
													<button class="dropdown-item" (click)="uncheckAll()">None</button>
													<button class="dropdown-item" (click)="checkAll()">All</button>
												</div>
											</div>
										</div>
										<list-view
										[items]="activityList" 
										[hasCheckbox]="true"
										(onSelectItem)="onSelectItem($event)" 
										(onCheckItem)="onCheckItem($event)"></list-view>
									</ng-template>
								</pane>
								<ng-template details>
									<div class="sub-tabs child-tabs" *ngIf="selectedActivity">
										<ngb-tabset activeId="details" (tabChange)="onSubtabChange($event)">
											<ngb-tab title="Details" id="details" *ngIf="!checkedItems.length">
												<ng-template ngbTabContent>
													<activity-form [id]="selectedActivity.id"></activity-form>
												</ng-template>
											</ngb-tab>
											<ngb-tab title="Options" id="opt" *ngIf="checkedItems.length">
												<ng-template ngbTabContent>
													<h4>{{ checkedItems.length }} item(s) selected</h4>
													<ul class="list-group options-list">
														<li class="list-group-item">
															<button class="btn-change-status">
																<span></span>Change status
															</button>
														</li>
														<li class="list-group-item">
															<button class="btn-delete">
																<span></span>Delete
															</button>
														</li>
														<li class="list-group-item">
															<button (click)="uncheckAll()">Cancel</button>
														</li>
													</ul>
												</ng-template>
											</ngb-tab>
											<ngb-tab title="Related" id="{{ relatedTabId }}">
												<ng-template ngbTabContent>
													<pane-set>
														<pane title="Related" bgColor="#dce5ff">
															<ng-template pane-content>
																<div class="p-2">
																	<label for="lookup">Select filter:</label>
																	<select id="lookup" class="form-control">
																		<option value="emplotment">Employment</option>
																		<option value="experience">Experience</option>
																		<option value="certificate">Certificates</option>
																		<option value="none">&lt;None&gt;</option>
																	</select>
																	<div class="group-by mt-2">
																		Group by:
																		<div ngbDropdown class="d-inline-block">
																			<button class="btn" ngbDropdownToggle>None</button>
																			<div ngbDropdownMenu>
																				<button class="dropdown-item">Personel</button>
																				<button class="dropdown-item">Status</button>
																			</div>
																		</div>
																	</div>
																	<div class="sort-by">
																		Sort by:
																		<div ngbDropdown class="d-inline-block">
																			<button class="btn" ngbDropdownToggle>None</button>
																			<div ngbDropdownMenu>
																				<button class="dropdown-item">Name</button>
																				<button class="dropdown-item">Date</button>
																			</div>
																		</div>
																		<button class="sort-btn" [class.desc]="!sortRelatedInc" (click)="toggleSortOrder('sortRelatedInc')"></button>
																		<span class="float-right mt-1">
																			{{ selectedActivity.connected.length }} item(s)
																		</span>
																	</div>
																</div>
																<list-view
																[items]="selectedActivity.connected"
																(onSelectItem)="onSelectRelatedItem($event)"></list-view>
															</ng-template>
														</pane>
														<ng-template details>
															<div *ngIf="selectedRelatedItemId">
																<activity-form [id]="selectedRelatedItemId"></activity-form>
															</div>
															<div class="text-center pt-4" *ngIf="!selectedRelatedItemId">&lt; Select a list item to view detals &gt;</div>
														</ng-template>
													</pane-set>
												</ng-template>
											</ngb-tab>
											<ng-container *ngIf="!checkedItems.length">
												<ngb-tab title="Personnel" id="personnel">
													<ng-template ngbTabContent>
														<h4 class="pt-4">General</h4>
														<personnel-form></personnel-form>
													</ng-template>
												</ngb-tab>
												<ngb-tab title="Schedule" id="schedule">
													<ng-template ngbTabContent>
														Schedule details
													</ng-template>
												</ngb-tab>
											</ng-container>
										</ngb-tabset>
									</div>
									<div class="text-center pt-4" *ngIf="!selectedActivity">
										&lt; Select a list item to view detals &gt;
									</div>
								</ng-template>				
							</pane-set>
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Graphical" id="graphical">
						<ng-template ngbTabContent>
							Graphical goes here
						</ng-template>
					</ngb-tab>
					<ngb-tab title="Grid view" id="grid-view">
						<ng-template ngbTabContent>
							<table-view [data]="activityList"></table-view>
						</ng-template>
					</ngb-tab>
				</ngb-tabset>				
			</div>
		</ng-template>
	</pane-set>
</div>
