<div class="modal-header">
	<h4 class="modal-title">Edit Category</h4>
	<button type="button" class="close" (click)="onClose()">
		<span></span>
	</button>
</div>
<div class="modal-body">
	<div class="toolbar">
		<button class="btn btn-new" (click)="onNew()"></button>
		<button class="btn btn-save" (click)="onSave()"></button>
		<button class="btn btn-delete" (click)="onDelete()"></button>
	</div>
	<table-view [data]="data" [editable]="true"></table-view>	
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="onSaveAndClose()">Save &amp; Close</button>
	<button type="button" class="btn btn-primary" (click)="onClose()">Cancel</button>
</div>
