<div class="input-group dropdown-wrapper">
	<input
	id="typeahead-focus"
	type="text"
	class="form-control"
	[(ngModel)]="model"
	[ngbTypeahead]="search"
	(focus)="focus$.next($event.target.value)"
	(click)="click$.next($event.target.value)"
	#instance="ngbTypeahead"
	[resultTemplate]="rt"
	[inputFormatter]="formatter"/>
	<div class="input-group-append">
		<button class="add-btn" (click)="addItem($event)"></button>
	</div>
</div>

<ng-template #rt let-item="result" let-t="term">
	{{ item }}
	<button class="float-right remove-btn" (click)="removeItem(item, $event)"></button>
</ng-template>