@import '../../../../assets/css/standard';

.search-wrapper {
	min-height: 50px;
	margin-bottom: 10px;
	border-bottom: 1px solid $border-color;
	h4 {
		font-size: 13px;
	}
	p {
		cursor: pointer;
		padding: 2px;
		margin-bottom: 5px;
		&:hover {
			background-color: $color-7;
		}
		&.selected {
			background-color: $color-6;
		}
	}
}

.form-group {
	margin-bottom: 5px;
}

select.ng-invalid {
	color: #aaa;
}

option[value="null"][disabled] {
	display: none;
}
option {
	color: black;
}

.remove-btn {
	background: transparent url('../../../../assets/images/data-area-small-icons.png') no-repeat  -54px top;
	width: 17px;
	height: 17px;
	border: 0;
	cursor: pointer;
	float: right;
}