@import '../../../../assets/css/standard';

.search-wrapper {
	overflow-y: auto;
	margin-bottom: 10px;
	border-bottom: 1px solid $border-color;
	h4 {
		font-size: 13px;
	}
	p {
		cursor: pointer;
		padding: 2px;
		margin-bottom: 5px;
		&.selected {
			background-color: rgba(0,0,0,.075);
		}
	}
}

.form-group {
	margin-bottom: 5px;
}

select.ng-invalid {
	color: #aaa;
}

option[value="null"][disabled] {
	display: none;
}
option {
	color: black;
}