@import '../../../assets/css/standard';

.btn-ribbon {
	border: 0;
	background-color: #fff;
	padding: 5px;
	outline: 0;
	&:hover {
		background-color: $color-6;
	}
	&:active {
		background-color: $color-6;
	}
	&:before {
		content: "";
		display: block;
		width: 32px;
		height: 32px;
		background-image: url('../../../assets/images/ribbon-menu-icons.png');
		background-repeat: no-repeat;
		margin: auto;
	}
	&:after {
		display: block;
		max-width: 60px;
		line-height: 12px;
	}
	&.btn-new {
		&:before {
			background-position:  -35px top;
		}
		&:after {
			content: "New";
		}
	}
	&.btn-save {
		&:before {
			background-position: -69px top;
		}
		&:after {
			content: "Save";
		}
	}
	&.btn-delete {
		&:before {
			background-position: -137px top;
		}
		&:after {
			content: "Delete";
		}
	}
	&.btn-properties {
		&:before {
			background-position: -137px -69px;
		}
		&:after {
			content: "Properties";
		}
	}
	&.btn-report {
		&:before {
			background-position: -171px top;
		}
		&:after {
			content: "Report";
		}
	}
	&.btn-new-category {
		&:before {
			background-position: -205px -35px;
		}
		&:after {
			content: "New category";
		}
	}
	&.btn-new-type {
		&:before {
			background-position: -239px -35px;
		}
		&:after {
			content: "New type";
		}
	}
	&.btn-view-personnel {
		&:before {
			background: url('../../../assets/images/user42.svg') no-repeat top left;
		}
		&:after {
			content: "Personnel";
		}
	}
	&.btn-edit-view {
		&:before {
			background-position: -239px -35px;
		}
		&:after {
			content: "Edit view";
		}
	}
	&.btn-add-connected {
		&:before {
			background-position: -171px -35px;
		}
		&:after {
			content: "Add connected";
		}
	}
	&.btn-new-connected {
		&:before {
			background-position:  -35px top;
		}
		&:after {
			content: "Add new connected";
		}
	}
}
