<div class="tabs toolbar">
	<ngb-tabset [activeId]="data.activeTabId" (tabChange)="onClickTab($event)">
		<ngb-tab *ngFor="let tab of data.tabs" [title]="tab.title" [id]="tab.id">
			<ng-template ngbTabContent>
				<ng-container *ngFor="let ribbonGroup of tab.ribbonGroups">

					<ng-container *ngIf="ribbonGroup.controls">
						<ribbon-group [label]="ribbonGroup.label">
							<ng-container *ngFor="let control of ribbonGroup.controls" [ngSwitch]="control.controlType">
								<ribbon-btn *ngSwitchCase="CONTROL_TYPE.RIBBON_BUTTON"
								[type]="control.type"
								(click)="control.click($event)"></ribbon-btn>

								<select *ngSwitchCase="CONTROL_TYPE.FILTER" class="form-control filter" [multiple]="control.multiple">
									<option *ngFor="let opt of control.options" [value]="opt.key">{{ opt.value }}</option>
								</select>
							</ng-container>
						</ribbon-group>
					</ng-container>

					<!-- If tab does not have ribbon group -->
					<ng-container *ngIf="!ribbonGroup.controls">
						<ng-container [ngSwitch]="ribbonGroup.controlType">				
							<ribbon-btn *ngSwitchCase="CONTROL_TYPE.RIBBON_BUTTON"
							[type]="ribbonGroup.type"
							(click)="ribbonGroup.click($event)"></ribbon-btn>
							<div class="filter-wrapper" *ngSwitchCase="CONTROL_TYPE.FILTER">
								<select class="form-control filter" [multiple]="ribbonGroup.multiple">
									<option *ngFor="let opt of ribbonGroup.options" [value]="opt.key">{{ opt.value }}</option>
								</select>
							</div>
						</ng-container>
					</ng-container>
					
				</ng-container>
				<div *ngIf="tab.hasSearchBtn">
					<button class="btn btn-primary">Save search</button>
				</div>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>