$assets-url: 'http://localhost:4200/assets';

$onix-main-color: #AC193D;
$onix-main-color-hover: #981515;
$onix-main-color-selected: #981515;
$border-color: #ddd;
$content-height: calc(100% - 178px);

$item-color-hover: #e7258217;
$item-color-selected: #f99eb4;

$child-color: #B9CCFF;
$child-color-hover: #cddaff;

body, html {
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	height: 100%;
	font-size: 12px;
	color: #000;
}

textarea {
	resize: none;
	min-height: 60px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
}

.form-control {
	&:focus {
		box-shadow: none;
		outline: 0;
	}
}

a {
	color: $onix-main-color;
}

.btn {
	border-radius: 0;
	min-width: 74px;
	height: 24px;
	padding: 2px 10px;
	border: 0;
	outline: none;
	box-shadow: none !important;
	&:focus, &:active {
		outline: none;
	}
	&:active {
		opacity: .7;
	}
}

.btn-primary {
	background-color: $onix-main-color;
	&:hover, &:active, &:not(:disabled):not(.disabled):active {
		background-color: $onix-main-color-hover;
	}
}

.btn-white {
	background-color: #fff;
	color: #000;
	border: 1px solid $border-color;
}
