@import 'standard.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";

.main-content {
	height: $content-height;
}

/* Custom css for subtabs */
.sub-tabs {
	margin: 0 -15px;
	height: 100%;
	position: relative;
	.nav-tabs {
		border-bottom: 0;
		overflow-x: auto;
		overflow-y: hidden;
		display: -webkit-box;
		display: -moz-box;
		&::-webkit-scrollbar {
			display: none;
		}
		.nav-link {
			border: 0;
			color: #000;
			&.active {
				border-bottom: 3px solid $onix-main-color;
			}
		}
	}
	.tab-content {
		height: calc(100% - 32px);
		overflow-y: auto;
	}
	.tab-pane {
		padding: 0 15px;
		height: 100%;
		.splitter {
			height: calc(100% - 32px);
		}
	}
}

.child-tab {
	.nav-tabs {
		.nav-link {
			&.active {
				border-bottom: 3px solid $child-color;
			}
		}
	}
	.list-container {
		.item {
			&:hover {
				background-color: $child-color-hover;
			}
			&.selected {
				background-color: $child-color;
			}
		}
	}
}

/* Custom group and sort dropdown*/

.group-by, .sort-by {
	button.btn {
		background-color: transparent;
		min-width: 0;
		padding: 0 0 5px;
	}
	.dropdown-item {
		&:hover {
			background-color: $item-color-hover;
		}
	}
}

/* Custom ng-select */
.ng-select.custom {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	.ng-select-container {
		border-radius: 0;
		border-color: $border-color;
		height: 29px;
		min-height: 29px;
	}

	.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
		background-color: $item-color-hover;
	}

	.ng-arrow-wrapper {
		border-left: 1px solid $border-color;
		width: 31px;
		height: 100%;
		.ng-arrow {
			border-width: 6px 3px 2.5px;
			border-color: #000 transparent transparent;
			top: 5px;
			left: 3px;
		}
	}
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
	box-shadow: none;
	border-color: #80bdff;
}