<div class="table-wrapper">
	<table class="table table-hover text-center">
		<thead>
			<tr>
				<th scope="col">Field</th>
				<th scope="col">Operator</th>
				<th scope="col">Value</th>
				<th scope="col">Has</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of searchCriteria; let i = index" (click)="selectCriteriaRow(i)" [class.selected]="i == selectedRowIndex">
				<td>{{ row.field.value }}</td>
				<td>{{ row.operator.value }}</td>
				<td>{{ row.value.value }}</td>
				<td>{{ row.has.value }}</td>
			</tr>
		</tbody>
	</table>
</div>
<form>
	<div class="form-group">
		<label for="field" [class.show]="searchRow.field">Field</label>
		<select name="field" id="field" class="form-control" required [(ngModel)]="searchRow.field">
			<option value="" hidden disabled selected>Field</option>
			<option *ngFor="let item of fields" [value]="item.key">{{ item.value }}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="field" [class.show]="searchRow.operator">Operator</label>
		<select name="operator" id="operator" class="form-control" required [(ngModel)]="searchRow.operator">
			<option value="" hidden disabled selected>Operator</option>
			<option *ngFor="let item of operators" [value]="item.key">{{ item.value }}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="value" [class.show]="searchRow.value">Value</label>
		<ng-select class="custom" id="value" placeholder="Value" [items]="values" [(ngModel)]="searchRow.value" name="type" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="has" [class.show]="searchRow.has">Has</label>
		<select name="has" id="has" class="form-control" required [(ngModel)]="searchRow.has">
			<option value="" hidden disabled selected>Has or has not</option>
			<option *ngFor="let item of has" [ngValue]="item.key">{{ item.value }}</option>
		</select>
	</div>
</form>
<div class="d-flex justify-content-center mt-3">
	<button class="btn btn-primary" (click)="addSearchCriteria()">Add to list</button>
	<button class="btn btn-white" (click)="removeSearchCriteria()">Remove selected</button>
</div>