@import '../../../assets/css/standard';

table {
	thead {
		th {
			white-space: nowrap;
		}
	}
	td {
		max-width: 100px;
	}
	tr {
		&:hover {
			background-color: $color-7;
		}
		&.selected {
			background-color: $color-6;
		}
	}
}