<div class="tabs toolbar">
	<ngb-tabset [activeId]="data.activeTabId" (tabChange)="onClickTab($event)">
		<ngb-tab *ngFor="let tab of data.tabs" [title]="tab.title" [id]="tab.id">
			<ng-template ngbTabContent>
				<ng-container *ngFor="let item of tab.ribbonGroups">

					<ng-container *ngIf="item.controls">
						<ribbon-group [label]="item.label">
							<ng-container *ngFor="let control of item.controls" [ngSwitch]="control.controlType">
								<ribbon-btn *ngSwitchCase="CONTROL_TYPE.RIBBON_BUTTON"
								[type]="control.type"
								(click)="control.click($event)"></ribbon-btn>
								<ng-select class="custom" *ngSwitchCase="CONTROL_TYPE.NG_SELECT" 
								[items]="control.items" 
								[(ngModel)]="control.model" 
								bindValue="key" 
								bindLabel="value"></ng-select>
							</ng-container>
						</ribbon-group>
					</ng-container>

					<!-- If tab does not have ribbon group -->
					<ng-container *ngIf="!item.controls">
						<ng-container [ngSwitch]="item.controlType">				
							<ribbon-btn *ngSwitchCase="CONTROL_TYPE.RIBBON_BUTTON"
							[type]="item.type"
							(click)="item.click($event)"></ribbon-btn>
							<ng-select class="custom" *ngSwitchCase="CONTROL_TYPE.NG_SELECT" 
							[items]="item.items" 
							[(ngModel)]="item.model" 
							bindValue="key" 
							bindLabel="value"></ng-select>
						</ng-container>
					</ng-container>
					
				</ng-container>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>