@import '../../../assets/css/standard';

.toolbar /deep/{
	border-bottom: 1px solid $border-color;
	.tab-pane {
		height: 94px;
		padding: 5px 10px;
		display: flex;
		.ng-select.custom {
			min-width: 200px;
			margin-top: 7px;
		}
	}
	.nav-tabs {
		background-color: $color-3;
		.nav-link {
			font-size: 14px;
			border: 0;
			color: #000;
			text-transform: uppercase;
			&:hover, &.active {
				color: #e6174a;
			}
		}
	}
}

.filter-wrapper {
	margin-right: 10px;
}

.filter {
	width: 200px;
	max-width: 100%;
}