@import '../../../../assets/css/standard';

.filter {
	margin-bottom: 10px;
	h5 {
		margin: 0 -15px 15px;
		padding: 10px 15px;
		color: #fff;
		background-color: $onix-main-color;
	}
	select {
		margin-bottom: 10px;
	}
	.btn-clear {
		background: #fff url('#{$assets-url}/images/refresh-search-icon.png') no-repeat 5px center;
		color: #000;
		width: 20px;
		border: 1px solid $border-color;
		text-align: right;
		margin-left: 5px;
	}
}

.search /deep/ {
	margin: 0 -15px;
	max-height: calc(100% - 155px);
	overflow-y: auto;
	.card {
		border: 0;
		&:last-child {
			border-bottom: 1px solid $border-color;
		}
	}
	.card-header {
		border-bottom: 0;
		border-top: 1px solid $border-color;
		padding: 0;
		a {
			padding: .75rem 1.25rem;
			display: block;
			text-decoration: none;
			color: $onix-main-color;
		}
		.fa-caret-right {
			margin-right: 5px;
			color: #000;
		}
		&.active {
			.fa-caret-right {
				transform: rotate(45deg);
			}
		}
	}
	.table-wrapper {
		overflow-y: auto;
		margin-bottom: 10px;
		tr {
			cursor: pointer;
			&.selected {
				background-color: rgba(0,0,0,.075);
			}
		}
	}
}