@import '../../../../assets/css/standard';

.options-list {
	max-width: 250px;
	margin: 20vh auto 0;
	.list-group-item {
		border: 0;
		padding: 0;
		margin-bottom: 5px;
		&:last-child {
			text-align: center;
			margin-top: 10px;
			border-top: 1px solid $border-color;
		}
	}
	button {
		text-transform: uppercase;
		border: 0;
		background-color: transparent;
		cursor: pointer;
		span {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-right: 5px;
			position: relative;
			top: 3px;
		}
		&.btn-delete {
			span {
				background: transparent url('../../../../assets/images/delete_16.png') no-repeat top left;
			}
		}
		&.btn-change-status {
			span {
				background: url(../../../../assets/images/mul-selection-icons.png) -163px top no-repeat;
			}
		}
	}
}

.title{
	font-size: 13px;
	.fa-caret-right {
		margin-right: 3px;
		transform: translate(0, 2px) rotate(45deg);
	}
	&.activity{
		.fa-caret-right {
			color: $color-4;
		}	
	}

	&.connected {
		.fa-caret-right  {
			color: #042ca0;
		}
	}
}

.nav-tabs {
	border-bottom: 0;
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;
	display: -moz-box;
	&::-webkit-scrollbar {
		display: none;
	}
	.nav-link {
		border: 0;
		color: #000;
		&.active {
			border-bottom: 3px solid $color-4;
		}
	}
}