<div class="input-group custom-datepicker">
	<ng-container *ngIf="model.paramType != ParamType.none">
		<div class="input-group-append">
			<ng-container [ngSwitch]="model.paramType">
				<div class="input-group-text" *ngSwitchCase="ParamType.checkbox">
					<input type="checkbox" [(ngModel)]="model.operator">
				</div>
				<select class="form-control" *ngSwitchCase="ParamType.operators" [(ngModel)]="model.operator">
					<option *ngFor="let item of operators; let i = index" [value]="i">{{ item }}</option>
				</select>
			</ng-container>
		</div>
		<input class="form-control" placeholder="{{ model.placeholder || dateFormat }}" 
		placement="bottom-right" 
		name="dp" 
		[(ngModel)]="dateModel" 
		ngbDatepicker
		#dp="ngbDatepicker" 
		(click)="dp.toggle()"
		(ngModelChange)="onChange($event)">
	</ng-container>
	<ng-container *ngIf="model.paramType == ParamType.none">
		<div class="input-group">
			<input class="form-control" 
			placeholder="{{ model.placeholder || dateFormat }}"
			name="dp" 
			[(ngModel)]="dateModel" 
			ngbDatepicker 
			#dp="ngbDatepicker"
			(click)="dp.toggle()"
			(ngModelChange)="onChange($event)">
			<!-- <div class="input-group-append date-icon" (click)="dp.toggle()">
				<i class="fa fa-calendar"></i>
			</div> -->
		</div>
	</ng-container>
</div>