<form (ngSubmit)="onSubmit()" class="activity-form">
	<ngb-accordion activeIds="panel-0, panel-1, panel-2" [destroyOnHide]="false">
		<ngb-panel id="panel-0">
			<ng-template ngbPanelTitle>
				<i class="fa fa-caret-right"></i>
				Details
			</ng-template>
			<ng-template ngbPanelContent>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="category" class="col-form-label">Category:</label>
						<div>
							<dropdown id="category" [model]="activity.category" type="category"></dropdown>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="company" class="col-form-label">Company:</label>
						<div>
							<dropdown id="company" [model]="activity.company" type="company"></dropdown>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="type" class="col-form-label">Type:</label>
						<div>
							<dropdown id="type" [model]="activity.type" type="type"></dropdown>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="location" class="col-form-label">Location:</label>
						<div>
							<dropdown id="location" [model]="activity.location" type="location"></dropdown>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="personnel" class="col-form-label">Personnel:</label>
						<div>
							<ng-select class="custom" id="personnel" [items]="['Personnel 1', 'Amundsen-Færøy 2', 'Amundsen-Færøy 3']" [(ngModel)]="activity.personnel" name="personnel" bindValue="key" bindLabel="value"></ng-select>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="discipline" class="col-form-label">Discipline:</label>
						<div>
							<dropdown id="discipline" [model]="activity.discipline" type="discipline"></dropdown>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="fromDate" class="col-form-label">From Date:</label>
						<div class="d-flex">
							<datepicker id="fromDate" [model]="activity.fromDate"></datepicker>
							<div class="timepicker">
								<ngb-timepicker name="from-time" [(ngModel)]="activity.fromTime" [spinners]="false"></ngb-timepicker>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="status" class="col-form-label">Status:</label>
						<div>
							<dropdown id="status" [model]="activity.status" type="status"></dropdown>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="toDate" class="col-form-label">To Date:</label>
						<div class="d-flex">
							<datepicker id="toDate" [model]="activity.toDate"></datepicker>
							<div class="timepicker">
								<ngb-timepicker name="to-time" [(ngModel)]="activity.toTime" [spinners]="false"></ngb-timepicker>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="level" class="col-form-label">Level:</label>
						<div>
							<dropdown id="level" [model]="activity.level" type="level"></dropdown>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="expireDate" class="col-form-label">Expire Date:</label>
						<div class="d-flex">
							<datepicker id="expireDate" [model]="activity.expireDate"></datepicker>
							<div class="timepicker">
								<ngb-timepicker name="expire-time" [(ngModel)]="activity.expireTime" [spinners]="false"></ngb-timepicker>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="inLieuTo" class="col-form-label">In Lieu To:</label>
						<div>
							<datepicker id="inLieuTo" [model]="activity.inLieuTo"></datepicker>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
		<ngb-panel id="panel-1">
			<ng-template ngbPanelTitle>
				<i class="fa fa-caret-right"></i>
				Schedule
			</ng-template>
			<ng-template ngbPanelContent>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="schedule" class="col-form-label">Schedule:</label>
						<div>
							<ng-select class="custom" id="schedule" [items]="['A', 'E', 'B', 'C']" [(ngModel)]="activity.schedule" name="schedule" bindValue="key" bindLabel="value"></ng-select>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="rotation" class="col-form-label">Rotation:</label>
						<div>
							<ng-select class="custom" id="rotation" [items]="['30-8', '5-2', '3-6']" [(ngModel)]="activity.rotation" name="rotation" bindValue="key" bindLabel="value"></ng-select>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="group" class="col-form-label">Group:</label>
						<div>
							<dropdown id="group" [model]="activity.group" type="group"></dropdown>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="shift" class="col-form-label">Shift:</label>
						<div>
							<ng-select class="custom" id="shift" [items]="['ABC', 'Morgen', 'Norway']" [(ngModel)]="activity.shift" name="shift" bindValue="key" bindLabel="value"></ng-select>
						</div>
					</div>
				</div>				
			</ng-template>
		</ngb-panel>
		<ngb-panel id="panel-2">
			<ng-template ngbPanelTitle>
				<i class="fa fa-caret-right"></i>
				Others
			</ng-template>
			<ng-template ngbPanelContent>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="percent" class="col-form-label">Percent:</label>
						<div class="percent-info">
							<input type="number" id="percent" name="percent" class="form-control" [(ngModel)]="activity.percent">
							<span class="col-form-label">Num. Info:</span>
							<input type="text" id="num-info" name="num-info" class="form-control" [(ngModel)]="activity.numInfo">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="scope" class="col-form-label">Scope:</label>
						<div>
							<ng-select class="custom" id="scope" [items]="['Easy', 'Normal', 'Hard']" [(ngModel)]="activity.scope" name="scope" bindValue="key" bindLabel="value"></ng-select>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="comment" class="col-form-label">Comment:</label>
						<div>
							<textarea id="comment" name="comment" class="form-control" [(ngModel)]="activity.comment"></textarea>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="internalComment" class="col-form-label">Internal Comment:</label>
						<div>
							<textarea id="internalComment" name="internalComment" class="form-control" [(ngModel)]="activity.internalComment"></textarea>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</form>