@import '../../../../assets/css/standard';

.activity-form /deep/ {
	margin-top: 20px;
	min-width: 700px;
	.card {
		border: 0;
		margin-bottom: 10px;
	}
	.card-header {
		border: 0;
		padding: 0;
		background-color: transparent;
		a {
			font-size: 13px;
			font-weight: 500;			
			text-decoration: none;
			color: $color-8;
		}
		.fa-caret-right {
			margin-right: 5px;
			color: $color-4;
		}
		&.active {
			.fa-caret-right {
				transform: rotate(45deg);
			}
		}
	}
	.card-body {
	}
}

.form-group {
	&:nth-child(1) {
		padding-right: 40px;
	}
	label {
		width: 115px;
		float: left;
	}
	> div {
		float: left;
		width: calc(100% - 120px);
	}
}

.percent-info {
	span {
		margin: 0 5px;
	}
	input {
		display: inline-block;
	}
	#percent {
		width: 50px;
	}
	#num-info {
		width: calc(100% - 122px);
	}
}

