<form (ngSubmit)="onSubmit()">
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="category" class="col-sm-3 col-form-label">Category</label>
				<div class="col-sm-9">
					<dropdown id="category" [model]="activity.category"></dropdown>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="company" class="col-sm-3 col-form-label">Company</label>
				<div class="col-sm-9">
					<dropdown id="company" [model]="activity.company"></dropdown>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="discipline" class="col-sm-3 col-form-label">Discipline</label>
				<div class="col-sm-9">
					<dropdown id="discipline" [model]="activity.discipline" [data]="disciplines"></dropdown>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="location" class="col-sm-3 col-form-label">Location</label>
				<div class="col-sm-9">
					<dropdown id="location" [model]="activity.location"></dropdown>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="type" class="col-sm-3 col-form-label">Type</label>
				<div class="col-sm-9">
					<dropdown id="type" [model]="activity.type"></dropdown>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="status" class="col-sm-3 col-form-label">Status</label>
				<div class="col-sm-9">
					<dropdown id="status" [model]="activity.status"></dropdown>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="personnel" class="col-sm-3 col-form-label">Personnel</label>
				<div class="col-sm-9">
					<ng-select class="custom" id="personnel" [items]="['C', 'Amundsen-Færøy', 'A', 'B']" [(ngModel)]="activity.personnel" name="personnel" bindValue="key" bindLabel="value"></ng-select>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="level" class="col-sm-3 col-form-label">Level</label>
				<div class="col-sm-9">
					<dropdown id="level" [model]="activity.level"></dropdown>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="fromDate" class="col-sm-3 col-form-label">From Date</label>
				<div class="col-sm-9">
					<datepicker id="fromDate" [model]="activity.fromDate"></datepicker>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="percent" class="col-sm-3 col-form-label">Percent</label>
				<div class="col-sm-9">
					<input type="number" id="percent" name="percent" class="form-control" [(ngModel)]="activity.percent">
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="toDate" class="col-sm-3 col-form-label">To Date</label>
				<div class="col-sm-9">
					<datepicker id="toDate" [model]="activity.toDate"></datepicker>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="schedule" class="col-sm-3 col-form-label">Schedule</label>
				<div class="col-sm-9">
					<ng-select class="custom" id="schedule" [items]="['A', 'E', 'B', 'C']" [(ngModel)]="activity.schedule" name="schedule" bindValue="key" bindLabel="value"></ng-select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="expireDate" class="col-sm-3 col-form-label">Expire Date</label>
				<div class="col-sm-9">
					<datepicker id="expireDate" [model]="activity.expireDate"></datepicker>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="group" class="col-sm-3 col-form-label">Group</label>
				<div class="col-sm-9">
					<dropdown id="group" [model]="activity.group"></dropdown>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="inLieuTo" class="col-sm-3 col-form-label">In Lieu To</label>
				<div class="col-sm-9">
					<datepicker id="inLieuTo" [model]="activity.inLieuTo"></datepicker>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="rotation" class="col-sm-3 col-form-label">Rotation</label>
				<div class="col-sm-9">
					<ng-select class="custom" id="rotation" [items]="['30-8', '5-2', '3-6']" [(ngModel)]="activity.rotation" name="rotation" bindValue="key" bindLabel="value"></ng-select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="shift" class="col-sm-3 col-form-label">Shift</label>
				<div class="col-sm-9">
					<ng-select class="custom" id="shift" [items]="['ABC', 'Morgen', 'Norway']" [(ngModel)]="activity.shift" name="shift" bindValue="key" bindLabel="value"></ng-select>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="scope" class="col-sm-3 col-form-label">Scope</label>
				<div class="col-sm-9">
					<ng-select class="custom" id="scope" [items]="['Easy', 'Normal', 'Hard']" [(ngModel)]="activity.scope" name="scope" bindValue="key" bindLabel="value"></ng-select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="comment" class="col-sm-3 col-form-label">Comment</label>
				<div class="col-sm-9">
					<textarea id="comment" name="comment" class="form-control" [(ngModel)]="activity.comment"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<div class="row">
				<label for="internalComment" class="col-sm-3 col-form-label">Internal Comment</label>
				<div class="col-sm-9">
					<textarea id="internalComment" name="internalComment" class="form-control" [(ngModel)]="activity.internalComment"></textarea>
				</div>
			</div>
		</div>
	</div>
</form>