<div [formGroup]="form" class="row">
	<div class="col-sm-3">
		<label [attr.for]="control.key">{{control.label}}</label>
	</div>

	<div [ngSwitch]="control.controlType" class="col-sm-9">

		<input *ngSwitchCase="CONTROL_TYPE.TEXT_BOX" [formControlName]="control.key"
		[id]="control.key" [type]="control.type" [(ngModel)]="control.value" class="form-control">

		<select *ngSwitchCase="CONTROL_TYPE.SELECT" [id]="control.key" [formControlName]="control.key" [multiple]="control.multiple" [(ngModel)]="selectedOpt" (change)="onOptionChange($event)" class="form-control">
			<option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
		</select>
		
		<typeahead *ngSwitchCase="CONTROL_TYPE.TYPEAHEAD" [data]="control.options" [placeholder]="control.placeholder"></typeahead>

		<datepicker *ngSwitchCase="CONTROL_TYPE.DATEPICKER" [model]="control.model" [param]="control.param"></datepicker>

	</div> 

	<div class="errorMessage" *ngIf="!isValid">{{control.label}} is required</div>
</div>