@import '../../../../assets/css/standard';

.filter {
	margin-bottom: 5px;
	typeahead {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
}

.filter-btn {
	.d-inline-block {
		border: 1px solid $border-color;
		.btn-toggle {
			min-width: 0;
			background-color: transparent;
			&:after {
				border: 0;
			}
		}
		.dropdown-item {
			&:hover {
				background-color: $item-color-hover;
			}
		}
	}
}
