@import '../../../../assets/css/standard';

@media screen and (max-width: 1600px) {
	.form-group {
		margin-bottom: 2px;
	}
	.col-xl-4, .col-xl-8 {
		max-width: 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
}

.form-group {
	margin-bottom: 5px;
}

.justify-content-between {
	margin-top: 10px;
	.btn-today {
		min-width: 0;
		padding: 0 5px 0 0;
		border: 0;
	}
	.form-check-label {
		margin: 3px 0 0 3px;
		input[type="radio"] {
			vertical-align: text-bottom;
		}
	}	
}

