<form>
	<div class="form-group">
		<label for="category">Category</label>
		<ng-select class="custom" id="category" placeholder="Category" [items]="category" [(ngModel)]="searchData.category" (ngModelChange)="countSearch()" name="category" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="discipline">Discipline</label>
		<ng-select class="custom" id="discipline" placeholder="Discipline" [items]="discipline" [(ngModel)]="searchData.discipline" (ngModelChange)="countSearch()" name="discipline" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="type">Type</label>
		<ng-select class="custom" id="type" placeholder="Type" [items]="type" [(ngModel)]="searchData.type" (ngModelChange)="countSearch()" name="type" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="personnel">Personnel</label>
		<ng-select class="custom" id="type" placeholder="Personnel" [items]="personnel" [(ngModel)]="searchData.personnel" (ngModelChange)="countSearch()" name="personnel" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="company">Company</label>
		<ng-select class="custom" id="type" placeholder="Company" [items]="company" [(ngModel)]="searchData.company" (ngModelChange)="countSearch()" name="company" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="location">Location</label>
		<ng-select class="custom" id="location" placeholder="Location" [items]="location" [(ngModel)]="searchData.location" (ngModelChange)="countSearch()" name="location" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="status">Status</label>
		<ng-select class="custom" id="status" placeholder="Status" [items]="status" [(ngModel)]="searchData.status" (ngModelChange)="countSearch()" name="status" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="level">Level</label>
		<ng-select class="custom" id="level" placeholder="Level" [items]="level" [(ngModel)]="searchData.level" (ngModelChange)="countSearch()" name="level" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="schedule">Schedule</label>
		<ng-select class="custom" id="schedule" placeholder="Schedule" [items]="schedule" [(ngModel)]="searchData.schedule" (ngModelChange)="countSearch()" name="schedule" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="group">Group</label>
		<ng-select class="custom" id="group" placeholder="Group" [items]="group" [(ngModel)]="searchData.group" (ngModelChange)="countSearch()" name="group" bindValue="key" bindLabel="value"></ng-select>
	</div>
	<div class="form-group">
		<label for="fromDate">From Date</label>
		<datepicker id="fromDate" [model]="searchData.fromDate" (onDateChange)="updateDate('fromDate', $event)"></datepicker>
	</div>
	<div class="form-group">
		<label for="toDate">To Date</label>
		<datepicker id="toDate" [model]="searchData.toDate" (onDateChange)="updateDate('toDate', $event)"></datepicker>
	</div>
	<div class="form-group">
		<label for="expireDate">Expire Date</label>
		<datepicker id="expireDate" [model]="searchData.expireDate" (onDateChange)="updateDate('expireDate', $event)"></datepicker>
	</div>
	<div class="form-group">
		<label for="comment">Comment</label>
		<input type="text" name="comment" id="comment" placeholder="Comment" class="form-control" [(ngModel)]="searchData.comment" (ngModelChange)="countSearch()">
	</div>
	<div class="form-group">
		<label for="message">Message</label>
		<datepicker id="message" [model]="searchData.message" (onDateChange)="updateDate('message', $event)"></datepicker>
	</div>
</form>