@import '../../../assets/css/standard';

:host {
	height: 100%;
}

.filter {
	background-color: $color-1;
	margin: 0 -15px 10px;
	padding: 0 15px;
	h5 {
		margin: 0 -15px 15px;
		padding: 10px 15px;
		color: #fff;
		background-color: $color-4;
	}
	select {
		margin-bottom: 10px;
	}
	.btn-clear {
		background: #fff url('../../../assets/images/refresh-search-icon.png') no-repeat 5px center;
		color: #000;
		border: 1px solid $border-color;
		text-align: right;
		margin-left: 5px;
		padding-left: 30px;
	}
}

.search /deep/ {
	margin: 0 -15px;
	height: calc(100% - 189px);
	background-color: $color-1;
	.btn-clear {
		background: transparent url('../../../assets/images/refresh-search-icon.png') no-repeat left center;
		min-width: 0;
		float: right;
		margin-top: -3px;
		&:active {
			background: transparent url('../../../assets/images/refresh-search-icon.png') no-repeat left center;
		}
	}
	.card {
		border: 0;
		max-height: calc(100% - 149px);
		&:last-child {
			border-bottom: 1px solid $border-color;
		}
	}
	.card-header {
		border-bottom: 0;
		border-top: 1px solid $border-color;
		background-color: #F1F1F1;
		padding: 0;
		a {
			padding: .75rem 1.25rem;
			display: block;
			text-decoration: none;
			color: $color-8;
		}
		.fa-caret-right {
			margin-right: 5px;
			color: $color-4;
		}
		&.active {
			.fa-caret-right {
				transform: rotate(45deg);
			}
		}
	}
	.card-body {
		overflow-y: auto;
	}
}

.badge {
	color: #fff;
	background-color: $color-4;
	border-radius: 25px;
}