@import '../../../assets/css/standard';

.modal-header {
	background-color: $color-4;
	border-radius: 0;
	border-bottom: 0;
	position: relative;
	.modal-title {
		font-size: 16px;
		color: #fff;
		text-transform: capitalize;
	}
	.close {
		position: absolute;
		right: 0;
		top: 0;
		width: 42px;
		height: 100%;
		margin: 0;
		background-color: $color-5;
		opacity: 1;
		span {
			display: block;
			width: 16px;
			height: 16px;
			background: url('../../../assets/images/close-icons.png') top left no-repeat;
		}
		&:hover {
			span {
				background-position: top right;
			}
		}
	}
}

.toolbar {
	padding-bottom: 15px;
}
.btn-new, .btn-delete, .btn-save {
	padding: 0;
	min-width: 0;
	background-color: transparent;
	margin-right: 5px;
	&:before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-position: top left;
		margin: auto;
	}
	&:after {
		display: block;
	}
}

.btn-new {
	&:before {
		background-image: url('../../../assets/images/new-icon.png');
	}
	&:after {
		content: 'New';
	}
}

.btn-save {
	&:before {
		background-image: url('../../../assets/images/save-icon.png');
	}
	&:after {
		content: 'Save';
	}
}

.btn-delete {
	&:before {
		background-image: url('../../../assets/images/delete_16.png');
	}
	&:after {
		content: 'Delete';
	}
}

