@import '../../../assets/css/standard';

.modal-header {
	background-color: $color-4;
	border-radius: 0;
	border-bottom: 0;
	position: relative;
	.modal-title {
		font-size: 16px;
		color: #fff;
	}
	.close {
		position: absolute;
		right: 0;
		top: 0;
		width: 42px;
		height: 100%;
		margin: 0;
		background-color: $color-5;
		opacity: 1;
		span {
			display: block;
			width: 16px;
			height: 16px;
			background: url('../../../assets/images/close-icons.png') top left no-repeat;
		}
		&:hover {
			span {
				background-position: top right;
			}
		}
	}
}

