@import '../../../../assets/css/standard';

@media screen and (max-width: 1600px) {
	.form-group {
		margin-bottom: 2px;
	}
	.col-xl-4, .col-xl-8 {
		max-width: 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
}

.form-group {
	position: relative;
	margin-bottom: 5px;
	.row {
		padding-top: 20px;
	}
	label {
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 20px;
		opacity: 0;
		transition: 0.2s ease all; 
		-moz-transition: 0.2s ease all; 
		-webkit-transition: 0.2s ease all;
		&.show {
			top: 0;
			opacity: 1;
		}
	}
}
